<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{.ResourcePrefix}}srcco.css">
    <script src="{{.ResourcePrefix}}srcco.js"></script>
  </head>
  <body>
    <div class="tocs">
      <div id="files" class="toc-name">
        files
      </div>
      <div id="defs" class="toc-name">
        defs
      </div>
      <div id="files-toc" class="toc">
        {{.FileTableOfContents}}
      </div>
      <div id="defs-toc" class="toc">
        {{.StructuredTableOfContents}}
      </div>
    </div>
    <div class="grid">
      {{ range .Segments}}
      <div class="row">
        <div class="doc">{{if .DocHTML}}{{.DocHTML}}{{else}}&nbsp;{{end}}</div>
        {{if .CodeHTML}}<div class="code">{{.CodeHTML}}</div>{{end}}
      </div>
      {{ end }}
    </div>
  </body>
</html>
